<div class="headercomment">	
	<div class="blogpageheader">
		<div class="pagetitle">Blog 2.0</div>
		<div>
			<a href="JavaScript:changeSheets('dark')">Dark Style</a>
			<a href="JavaScript:changeSheets('medium')">Medium Style</a>
			<a href="JavaScript:changeSheets('light')">Light Style</a>
		</div>
		<br />
		<a href="/blog/stats">Blog Statistics</a>
		<br />
		{{ first }}
		{{ previous }} 
		<a href="/">Homepage</a> 
		{{ next }} 
		{{ latest }}
		<br />
		<a href="http://pipes.yahoo.com/pipes/pipe.run?_id=3f8777a862ed7b24448686b06e5f7f5b&_render=rss">RSS Feed</a>
		<!--<a href="http://feeds.feedburner.com/MartinsBlog2">RSS feed</a>!-->
	</div>
	<br />
</div>