<!-- the footer of the page !-->
<div class="footer">
	<div class="headercomment">Page written by martindevans</div>
	<div class="headercomment">Page hosted by google</div>
	<div class="headercomment">Contact me on:</div>
	<div class="headercomment"><strong><a href="http://mailhide.recaptcha.net/d?k=01t9PdZGCfd6VD3yVwNUIopw==&amp;c=z8_wu2Y4JebF0h_Mp8EWPJEB0pwND9qCnEpZy2Ep2HE=" onclick="window.open('http://mailhide.recaptcha.net/d?k=01t9PdZGCfd6VD3yVwNUIopw==&amp;c=z8_wu2Y4JebF0h_Mp8EWPJEB0pwND9qCnEpZy2Ep2HE=', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">martin...@gmail.com</a></strong></div>
	<div class="headercomment">administrate this site:</div>
	<div class="headercomment"><a href="/admin">administration panel</a></div>
</div>