body
{
	font-family: Arial;
}

a
{
	font-weight: bold;
}

td
{
	vertical-align: 0%;
}

.blogcommentsection textarea
{
	width: 90%;
}

.blogpageheader
{
}

.blogentry
{
	display: block;
	border-width: 3px;
	padding: 0.5em;
	text-align: left;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.blogtitle
{
	display: block;
	font-size: 20pt;
	border-top-style: double;
	border-bottom-style: double;
	border-left-style: none;
	border-right-style: none;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}

.blogcontent
{
	display: block;
	font-size: 10pt;
	border-top-style: none;
	border-bottom-style: double;
	border-left-style: none;
	border-right-style: none;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: justify;
}

.blogfooter
{
	display: block;
	font-size: 7pt;
	border-style: none;
	border-bottom-style: double;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.blogcommentsection
{
	margin: 0 auto;
	display: block;
	border-style: none;
	font-size: 10pt;
	border-style: none;
	padding: 0.5em;
	text-align: left;
	width: 50%;
	margin-left: 25%;
}

.blogcomment
{
	display: block;
	border-style: solid;
	border-width: 1px;
	margin: 0.3em;
}

.blogcommentfooter
{
	display: block;
	font-size: 7pt;
}

.blogcolumnbox
{
	border-style: none;
	font-size: 10pt;
	border-style: none;
	padding: 0.5em;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 5%;
	width: 10em;
}

.blogentry .blogcontent {overflow: hidden}

.blogentry:hover .blogcontent {overflow: auto}