body
{
	background-color: black;
}

a
{
	color: white;
}

.blogpageheader
{
	color: white;
}

.blogentry
{
	background-color: #070707;
	color: #dddddd;
}

.blogtitle
{
}

.blogcontent
{
}

.blogfooter
{
}

.blogcommentsection
{
	background-color: #070707;
	color: white;
}

.blogcomment
{
	background-color: black;
	border-color: white;
	color: white;
}

.blogcommentfooter
{
	background-color: gray;
	color: black;
}

.blogcolumnbox
{
	background-color: #070707;
	color: white;
}