<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Blog 2.1 - {{ entry.title }}</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/Blog2base.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/Blog2Dark.css" />
		<script type="text/javascript" src="/javascript/blog2.js"></script>
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-26203901-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>
	<body>
		<div class="page">
			<div class="innerbanner">
				<a href="/blog/latest">
					<div id="bigtitle">
						Blog 2.1
					</div>
				</a>
				<div class="bannermenu">
					<div class="bannermenuentry">
						{% if first_post %}
							<a href="/blog/perma?{{ first_post.key }}">First</a>
						{% else %}
							First
						{% endif %}
					</div>
					<div class="bannermenuentry">
						{% if previous_post %}
							<a href="/blog/perma?{{ previous_post.key }}">Previous</a>
						{% else %}
							Previous
						{% endif %}
					</div>
					<div class="bannermenuentry">
						<a href="/">Home</a>
					</div>
					<div class="bannermenuentry">
						<div id="next">Next</div>
					</div>
					<div class="bannermenuentry">
						<a href="/blog/latest">Latest</a>
					</div>
				</div>
			</div>
			<div class="innerpage">
				<div class="content">
					<script>
						entryKey = "{{ entry.key }}";
					</script>
					<div class="blogpost">
						<div id="posttitle">
							{% if entry.key %}
								<a href="/blog/perma?{{ entry.key }}">
							{% endif %}
							{{ entry.title }}
							{% if entry.key %}
								</a>
							{% endif %}
							<div id="postdate">
								{{ entry.date|date:"D d M Y" }}
							</div>
							<div id="entrytags"></div>
						</div>
						{{ entry.content|linebreaks }}
					</div>
					<div class="contentbox">
						<div id="views">?? views</div>
					</div>
					<div id="commentplaceholder">
					</div>
					<div class="contentbox" id="adminfooter">
						
					</div>
				</div>
				<div class="rightmenu">
					<div class="rightmenuentry" style="text-align: right">
						<div class="entrytitle">
							Subscribe
						</div>
						<a href="/blog/feed/atom.xml">Atom <img src="../images/blog_images/rss.png" alt="" /></a>
					</div>
					<div class="rightmenuentry">
						<div class="entrytitle">
							recent
						</div>
						<div id="recent_entries"></div>
					</div>
					<div class="rightmenuentry">
						<div class="entrytitle">
							Topics
						</div>
						<div id="tag_cloud"></div>
					</div>
					<div class="rightmenuentry">
						<div class="entrytitle">
							Recommended
						</div>
						<div class="blogrollentry"><a href="http://www.gamedev.net/">Gamedev.net</a></div>
						<div class="blogrollentry"><a href="http://www.codinghorror.com/blog/">Coding Horror</a></div>
						<div class="blogrollentry"><a href="http://blogs.msdn.com/shawnhar/">Shawn Hargreaves</a></div>
						<div class="blogrollentry"><a href="http://www.introversion.co.uk/blog/index.php">Introversion Software</a></div>
						<div class="blogrollentry"><a href="http://www.catalinzima.com/">Catalin Zima</a></div>
						<div class="blogrollentry"><a href="http://andimiller.net/">Andi Miller</a></div>
						<div class="blogrollentry"><a href="http://digierr.spaces.live.com/">Digital Error</a></div>
						<div class="blogrollentry"><a href="http://blogs.msdn.com/xna/">XNA Team Blog</a></div>
						<div class="blogrollentry"><a href="http://nickgravelyn.com/">Nick Gravelyn</a></div>
						<div class="blogrollentry"><a href="http://news.quelsolaar.com/">Quel Solaar</a></div>
					</div>
					<div class="rightmenuentry">
						<script type="text/javascript"><!--
						google_ad_client = "pub-9467920584800433";
						/* Blog link block */
						google_ad_slot = "2607790373";
						google_ad_width = 180;
						google_ad_height = 90;
						//-->
						</script>
						<script type="text/javascript"
						src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
						</script>
					</div>
				</div>
			</div>
		</div>
		<script>
			SendAjax();
		</script>
	</body>
</html>